langchain==0.1.8
langchain-community==0.0.21
langchain-core==0.1.25
langchain-google-genai==0.0.9
langchain-openai==0.0.6
langsmith==0.1.4
lighthouz==0.0.5
pypdf==4.0.2
streamlit==1.31.1
singlestoredb==1.0.1
google-generativeai==0.3.2
tiktoken==0.6.0
openai==1.12.0